.textField {
    padding: 5px 10px 5px 0;
    width: 200px !important;
}

.dateTextField {
    padding: 5px 10px 5px 0;
    width: 100px !important;
}

.submitButton {
    margin-top: 20px;
}

.removeButton {
    margin-top: auto;
    margin-bottom: 18px;
}