.submitButton {
    margin-top: 20px;
}

.removeButton {
    margin-top: auto;
    margin-bottom: 18px;
}

.row {
    margin-left: 0;
}

.mostRight {
    padding-right: 0 !important;
}

.textAreaGroup {
    padding-left: 5px;
}

.card-header {
    background-color: #8E8C84 !important;
    border-bottom: none !important;
    color: white;
}

.section {
    margin-bottom: 20px;
}

.textArea {
    margin-right: 5px;
}