.submitButton {
    margin-top: 20px;
}

.removeButton {
    margin-top: auto;
    margin-bottom: 18px;
}

.row {
    margin-left: 0;
}

.mostRight {
    padding-right: 0 !important;
}

.textAreaGroup {
    padding-left: 5px;
}